html,
body,
#main-app {
  min-height: 100% !important;
}

body {
  background: #31363b;
}

#main-app {
  background: #eff0f1;
  padding: 0 1rem;
  height: initial !important;
}

#buttons {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.header {
  background: white;
  margin: 0 -1rem;
  padding: 4rem 2rem 3rem;
  border-bottom: #31363b 1px solid;
}
.header-controls {
  position: absolute;
  right: 1rem;
  top: -4px;
  vertical-align: middle;
}

.header-body {
  display: table;
  width: 100%;
}

.header-body-content {
  display: table-cell;
  vertical-align: middle;
}

.header-body-content img {
  float: left;
  height: 64px;
  margin-right: 1rem;
}

.header-body-content #icon-down {
  display: none;
}

.footer {
  margin: 1rem -1rem 0 -1rem;
  text-align: center;
  padding: 3rem 1rem !important;
}

.footer a {
  color: var(--dark);
}

.footer a:not(:last-child) {
  margin-right: 2rem;
}

.card {
  height: 100%;
}

.app-cluster {
  text-align: center;
  margin: 8rem 0;
  margin-bottom: 2rem !important;
}

@media (max-width: 414px) {
  .header {
    padding: 0;
  }
  .header-controls {
    left: 1rem;
    text-align: center;
  }
  .header-controls a {
    padding: 1.5rem 1rem 1.5rem;
  }
  .header-body {
    height: 100vh;
    text-align: center;
  }
  .header-body-content img {
    float: initial;
    height: 72px;
  }
  .header-body-content #icon-down {
    display: initial;
  }
}

@media (max-height: 414px) {
  .header {
    padding: 0;
  }
  .header-controls a {
    padding: 1.5rem 1rem 1.5rem;
  }
  .header-body {
    height: 100vh;
    text-align: center;
  }
  .header-body-content img {
    float: initial;
    height: 72px;
  }
  .header-body-content #icon-down {
    display: initial;
  }
}
